/* Syntax highlighter fixes */
body .syntaxhighlighter {
    overflow: visible !important; /* stylelint-disable-line declaration-no-important */
}

pre.synhi {
    font-size: inherit;
    margin: inherit;
    white-space: inherit;
}
